<%= form_with model: book, local: true do |f| %>
  <div class="form-title row">
    <%= f.label :title %>
    <%= f.text_field :title, class: "col-md-6" %>
  </div>

  <div class="form-body row">
  	<%= f.label :opinion %>
    <%= f.text_area :body, class: "col-md-6" %>
  </div>

  <div class="actions row">
    <%= f.submit :"Create Book", class: "btn btn-primary col-md-6" %>
  </div>
  
  


<% end %>